doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    title 扭蛋機
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(property='og:title' content='扭蛋機')
    meta(property='og:image' content='../img/og-image.png')
    meta(property='og:description' content='我是一台扭蛋機呦 (｡･ω･｡)')
    
    
    
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css')
    
    link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    link(rel='stylesheet' href='../css/style.css')
  body

    //- 結果視窗
    .modal.fade#result-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title 轉蛋結果
            //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            | ...
          .modal-footer-x
            button.btn.modal-footer-btn.result-btn(type='button' data-bs-dismiss="modal") 確認

    //- 匯入
    .modal.fade#import-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title 匯入連結
            //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body-import
            p 輸入 csv 網址，可載入抽獎項目。
            input.import-url(type="text" value="https://docs.google.com/spreadsheets/d/e/2PACX-1vTpOQfCGnMmPhaDC9iZrrf9az33x1KX43bICyWKSaYSMOejOdXK5KYc0f3PAh6BGAsPq1bzUNClRZYQ/pub?output=csv")
            .warning-text 此欄位不可空白。

          .modal-footer-x
            button.btn.modal-footer-btn.import-btn(type='button') 確認
            button.btn.modal-footer-btn.cancel-btn(type='button' data-bs-dismiss="modal") 取消

    //- 分享
    .modal.fade#share-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title 分享連結
            //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body-share
            p 複製以下連結，可將已匯入資料的扭蛋機分享給朋友一起遊玩！
            .input-btn-group
              input.share-url(type="text" value="目前無資料匯入")
              button.share-url-copy(type='button') 複製網址

          .modal-footer-x
            button.btn.modal-footer-btn.cancel-btn(type='button' data-bs-dismiss="modal") 關閉


    //- 關於
    .modal.fade#about-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title 關於
          .modal-body-about
            .item
              p 作者：饅頭 / mant0u
            .item
              p Facebook：
              a(href="http://FB.me/mant0u.net")  FB.me/mant0u.net
            .item
              p 版本：1.42
          .modal-footer-x
            button.btn.modal-footer-btn(type='button' data-bs-dismiss="modal") 關閉

    //- 說明
    .modal.fade#instruction-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
      .modal-dialog.modal-lg.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title 說明
          .modal-body-instruction
            .item
              p 這是一個抽獎專用的扭蛋機網站，可以使用自己的資料匯入這個網頁當中進行抽獎。
              p 本網站匯入的資料格式，已 CSV 檔為主。以下將會介紹如何使用 Google Excel 雲端表單，匯出 CSV 格式後再匯入此網站。
            .item
              .step
                .step-num 1
                .step-text
                  p 開啟 Google Excel 雲端表單 ，並建立一個新的試算表。
              img(src="../img/step01.gif", alt="")
            .item
              .step
                .step-num 2
                .step-text
                  p 於試算表每欄的第 1 列，輸入該欄的「標題」；抽獎項目會由該欄第 2 列開始匯入。如果有其他資訊，可新增在第 2、3 欄。
              img(src="../img/step02.gif", alt="")
            .item
              .step
                .step-num 3
                .step-text
                  p 試算表編輯完成後，點選上面功能列「檔案/共用/發佈到網路」。
              img(src="../img/step03.gif", alt="")
            .item
              .step
                .step-num 4
                .step-text
                  p 點選「整份文件」、「逗號分隔值(.csv)」，點選「發佈」即可產生表單的 CSV 網址！
              img(src="../img/step04.gif", alt="")
            .item
              .step
                .step-num 5
                .step-text
                  p 將 CSV 網址複製下來貼進網站當中，就可以匯入扭蛋項目囉～
              img(src="../img/step05.gif", alt="")

          .modal-footer-x
            button.btn.modal-footer-btn(type='button' data-bs-dismiss="modal") 關閉


    //- 提示文字
    .hint-text 
      .text 點擊機器匯入檔案
      .energy 
    
    //- 能量條
    .energy-bar


    //- 功能選單
    .function-menu
      .menu-box.default
        .btn.btn-menu
          p 選單
          i.fas.fa-angle-down.btn-menu-icon
        .btn.btn-import(type='button' data-bs-toggle='modal' data-bs-target='#import-modal') 
          p 匯入
          i.fas.fa-file-import
        .btn.btn-share(type='button' data-bs-toggle='modal' data-bs-target='#share-modal') 
          p 分享
          i.fas.fa-share
        .btn.btn-instruction(type='button' data-bs-toggle='modal' data-bs-target='#instruction-modal') 
          p 說明
          i.fas.fa-question-circle
        .btn.btn-about(type='button' data-bs-toggle='modal' data-bs-target='#about-modal') 
          p 關於
          i.fas.fa-info-circle



    //- 轉蛋機 SVG
    include includes/gashapon.pug

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js')
    script(src='../js/function-menu.js')
    script(src='../js/data-import.js')
    script(src='../js/script.js')
