doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    title 扭蛋機
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(property='og:title' content='扭蛋機')
    meta(property='og:description' content='我是一台扭蛋機呦 (｡･ω･｡)')
    meta(property='og:image' content='../img/og-image.png')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Mant0uStudio')
    meta(name='twitter:title' content='扭蛋機')
    meta(name='twitter:description' content='我是一台扭蛋機呦 (｡･ω･｡)')
    meta(name='twitter:image' content='../img/og-image.png')
    link(rel='manifest' href='../json/manifest.json')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    link(rel='stylesheet' href='../css/style.css')
  body
    //- 游標
    .curzr(hidden='')
      svg(width='36' height='40' viewBox='0 0 36 40' fill='none' xmlns='http://www.w3.org/2000/svg')
        path.outer(d='M28.7343 38C28.2946 37.9724 27.8584 37.9011 27.4316 37.7871L27.1926 37.6995L18.3968 33.3422C18.2677 33.2724 18.1238 33.2379 17.9785 33.2421C17.8425 33.2408 17.7079 33.2707 17.5841 33.3297L8.70464 37.424C8.62927 37.4622 8.54859 37.4876 8.46562 37.4992C8.07407 37.6025 7.6738 37.6654 7.27054 37.687C6.56327 37.6815 5.86819 37.4934 5.24684 37.1394C4.6255 36.7854 4.09704 36.2763 3.70826 35.6573C3.31948 35.0382 3.08236 34.3283 3.01791 33.5904C2.95345 32.8524 3.06363 32.1092 3.33871 31.4265L14.0108 5.69616C14.3448 4.89477 14.8947 4.21286 15.5931 3.73396C16.2915 3.25507 17.108 3 17.9426 3C18.7773 3 19.5938 3.25507 20.2922 3.73396C20.9906 4.21286 21.5405 4.89477 21.8745 5.69616L32.6302 31.6644C32.9196 32.3477 33.0423 33.0957 32.9871 33.841C32.932 34.5863 32.7008 35.3055 32.3144 35.9339C31.9279 36.5623 31.3984 37.0802 30.7735 37.4408C30.1485 37.8015 29.4477 37.9936 28.7343 38Z' fill='#FCF0F0')
        path.inner(fill-rule='evenodd' clip-rule='evenodd' d='M14.1416 1.15747C13.005 1.91687 12.1155 2.99911 11.5848 4.26821L0.582388 29.8864L0.581346 29.8888C0.1223 30.9484 -0.069717 32.1066 0.0225225 33.2598C0.114832 34.4137 0.488939 35.5265 1.11126 36.4981C1.73359 37.4697 2.58466 38.2698 3.58807 38.8265C4.59149 39.3833 5.71585 39.6792 6.86023 39.6878L6.88946 39.6881L6.91866 39.6869C7.49914 39.664 8.07592 39.5828 8.64048 39.4445C8.89207 39.3905 9.13718 39.3092 9.37152 39.202L17.9583 35.3581L26.4175 39.3964C26.6456 39.5121 26.8862 39.6005 27.1344 39.6598C27.7388 39.8363 28.3596 39.9492 28.987 39.9964L29.0343 40L29.0817 40C30.2286 39.999 31.3574 39.7098 32.3666 39.1584C33.3758 38.6069 34.2337 37.8105 34.8634 36.8406C35.493 35.8707 35.8747 34.7578 35.974 33.6018C36.0733 32.4458 35.8872 31.2829 35.4324 30.2177L24.3295 4.32066C23.8052 3.0548 22.9268 1.97143 21.802 1.20383C20.6747 0.434512 19.3494 0.0160587 17.9897 0.000140043L17.9852 8.69517e-05L17.9806 6.68904e-05C16.6161 -0.00597004 15.2803 0.396748 14.1416 1.15747ZM29.9934 34.7095C29.728 34.8578 29.4321 34.9408 29.1296 34.9522C28.899 34.9278 28.6701 34.8884 28.4445 34.8343L19.4588 30.5419L19.4543 30.5398C18.9922 30.3236 18.4894 30.211 17.9803 30.2098C17.4866 30.2068 16.9983 30.3144 16.5506 30.5248L7.55077 34.5974C7.3429 34.6396 7.13295 34.6708 6.9218 34.6906C6.61835 34.6819 6.3209 34.6012 6.05362 34.4546C5.77178 34.3 5.5323 34.0771 5.35669 33.8057C5.18109 33.5344 5.07485 33.2231 5.04753 32.9C5.0202 32.5768 5.07264 32.2519 5.20014 31.9543L16.175 6.26402L16.1794 6.25321C16.3249 5.89467 16.573 5.58827 16.8917 5.37328C17.2078 5.16011 17.5791 5.04644 17.9588 5.04648C18.3316 5.05618 18.6937 5.1746 19.0016 5.38759C19.3122 5.60245 19.5542 5.90422 19.6979 6.25601L19.7021 6.26628L30.8161 32.1766L30.8204 32.1862C30.9537 32.4834 31.0115 32.8096 30.9884 33.1351C30.9654 33.4606 30.8623 33.7752 30.6885 34.0501C30.5148 34.3251 30.2758 34.5518 29.9934 34.7095Z' fill='#633B4B')
 
    //- 結果視窗
    include modal/result-modal.pug

    //- 匯入
    include modal/import-modal.pug

    //- 分享
    include modal/share-modal.pug

    //- 關於
    include modal/about-modal.pug

    //- 說明
    include modal/instruction-modal.pug

    //- 提示文字
    .hint-text 
      .text 按住螢幕滑動
      .energy 
    
    //- 能量條
    .energy-bar

    //- 功能選單
    .function-menu
      .menu-box.default
        .btn.btn-menu
          p 選單
          i.fas.fa-angle-down.btn-menu-icon
        .btn.btn-import(type='button' data-bs-toggle='modal' data-bs-target='#import-modal') 
          p 匯入
          i.fas.fa-file-import
        .btn.btn-share(type='button' data-bs-toggle='modal' data-bs-target='#share-modal') 
          p 分享
          i.fas.fa-share
        .btn.btn-instruction(type='button' data-bs-toggle='modal' data-bs-target='#instruction-modal') 
          p 說明
          i.fas.fa-question-circle
        .btn.btn-about(type='button' data-bs-toggle='modal' data-bs-target='#about-modal') 
          p 關於
          i.fas.fa-info-circle

    //- 扭蛋機 SVG
    include includes/gashapon.pug

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js')
    script(src='../js/function-menu.js')
    script(src='../js/data-import.js')
    script(src='../js/script.js')
    script(src='../js/curzr.js')
