//- 關於
.modal.fade#about-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1'  )
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title 關於
      .modal-body.modal-body-about
        .item
          p 作者：饅頭 / Mant0u
        .item
          p
            i.fab.fa-facebook-square.maR-8
            | Facebook：
          a(href="http://FB.me/mant0u.net" target="_blank")  fb.me/mant0u.net
        .item

          p 
            i.fab.fa-twitter.maR-8
            | Twitter：

          a(href="https://twitter.com/Mant0uStudio" target="_blank") twitter.com/Mant0uStudio
        .item
          p
            i.fab.fa-github.maR-8
            | Github：
          a(href="https://github.com/mant0u0" target="_blank") github.com/mant0u0

        .item
          p 版本：2.0
      .modal-footer
        button.btn.modal-footer-btn.secondary-btn(type='button' onclick='closeModal()') 關閉
