//- 匯入
.modal.fade#import-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title 匯入連結
        //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body-import
        p.no-data-text
          i.fas.fa-exclamation-circle.maR-8
          | 扭蛋機目前沒有匯入抽獎項目～
        p 輸入 CSV 網址，匯入抽獎項目。\( °ω° )/
        input.import-url(type="text" value="https://docs.google.com/spreadsheets/d/e/2PACX-1vTpOQfCGnMmPhaDC9iZrrf9az33x1KX43bICyWKSaYSMOejOdXK5KYc0f3PAh6BGAsPq1bzUNClRZYQ/pub?output=csv")
        .warning-text 此欄位不可空白。

      .modal-footer-x
        button.btn.modal-footer-btn.import-btn(type='button') 確認
        button.btn.modal-footer-btn.cancel-btn(type='button' data-bs-dismiss="modal") 取消
