//- 結果視窗
.modal.fade#result-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' )
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title 扭蛋結果
        //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.modal-body-result
        .result-content

        .modal-no-data
          .no-data-content
            .gacha-icon
            p 已經沒有扭蛋了！



      .modal-footer
        button.btn.modal-footer-btn(type='button' onclick='showModal("#display-modal")') 檢視
        button.btn.modal-footer-btn.secondary-btn(type='button' onclick='closeModal()') 關閉
